<%= form_for [@parks.first, Game.new], html: { class: 'new-game-form' } do |f| %>
  <h6 id="new-park-name"><%= @parks.first.name.upcase %></h6>
  <%= f.label :time %>
  <%= f.select :time, @options_for_time %>
  <%= f.submit class: "btn-join" %>
<% end %>


