<ul class="active-games">
<% @court = park.courts.first %>
<% game_slots(@court.games_for_today, @court).each do |game| %>
  <% if game.id.nil? %>
  <%= link_to park_games_path(park_id: park.id, time: game.time), method: :post do %>
    <li class="game">
      <p class="time"><%= game.time.strftime("%-I:%M%p") %></p>
      <p class="roster"><%= game.users.count %>/6 Players</p>
    </li>
  <% end %>
  <% else %>
  <%= link_to park_game_path(park, game) do %>
    <li class="game">
      <p class="time"><%= game.time.strftime("%-I:%M%p") %></p>
      <p class="roster"><%= game.users.count %>/6 Players</p>
    </li>
  <% end %>
  <% end %>
<% end %>
</ul>
