<section class="navigation-section show-for-large-up contain-to-grid" id="desktop-top-bar">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to root_path do %>
          <%= image_tag 'scoreboard-text200.png', alt: "Got Next logo", class: "logo-image" %>
        <% end %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <!-- <li><%= link_to "Sign In", login_path %></li> -->
        <li><a href="#">Help</a></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user %></li>
          <li id="logout-btn"><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <% else %>
          <li id="login-btn"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </section>
  </nav>
</section>
