<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", root_path %></li>
    <li><%= link_to "Contact", root_path %></li>
  </ul>
</div>

<%= link_to root_path do %>
  <%= image_tag "scoreboard-text200.png", id: "title-image-large", class: "hide-for-small-only" %>
  <%= image_tag "got-next-text50.png", id: "title-image-small", class: "show-for-small-only" %>
<% end %>

<div class="blocker"></div>

<nav id="tab-profile">
  <div id="tab">
    <button id="new-game-button"><%= icon('plus') %></button>
    <%= image_tag "brianScalabrine.jpeg" %>
    <button id="menu-button"><%= icon('bars') %></button>
  </div>
</nav>
