<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", root_path %></li>
    <li><%= link_to "Contact", root_path %></li>
  </ul>
</div>

<%= link_to root_path do %>
  <%= image_tag "scoreboard-text200.png", alt: "Logo Image", class: "title-image hide-for-small-only" %>
  <%= image_tag "got-next-text50.png", alt: "Logo Image", class: "title-image show-for-small-only" %>
<% end %>

<div class="blocker hide-for-small-only"></div>

<nav id="tab-profile">
<% if @extra %>
  <%= render "shared/header/three_tab" %>
<% else %>
  <%= render "shared/header/two_tab" %>
<% end %>
</nav>
