<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "About", root_path %></li>
    <li><%= link_to "Contact", root_path %></li>
  </ul>
</div>

<%= link_to root_path do %>
  <%= image_tag "scoreboard-text200.png", class: "title-image hide-for-small-only" %>
  <%= image_tag "got-next-text50.png", class: "title-image show-for-small-only" %>
<% end %>

<div class="blocker hide-for-small-only"></div>

<nav id="tab-profile">
  <div class="tab">
    <button id="new-game-button"><%= icon('plus') %></button>
    <%= image_tag "brianScalabrine.jpeg", alt: "Profile Picture", id: "profile-picture" %>
    <button id="menu-button"><%= icon('bars') %></button>
    <%= form_for Game.new, html: { class: 'new-game-form' } do |f| %>
      <%= f.label :court %>
      <%= f.select :court, @options_for_select %>
      <%= f.label :time %>
      <%= f.select :time, @options_for_time %>
    <% end %>
  </div>
</nav>
