<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>
</div>

<%= link_to root_path do %>
  <%= image_tag "scoreboard-text200.png", alt: "Logo Image", class: "title-image hide-for-small-only" %>
  <%= image_tag "got-next-text50.png", alt: "Logo Image", class: "title-image show-for-small-only" %>
<% end %>

<% flash.each do |message_type, message| %>
  <div class="notification-tab <%= message_type %>">
    <%= content_tag(:div, message, class: "alert-message") %>
  </div>
<% end %>

<div class="blocker hide-for-small-only"></div>

<div class="tab">
  <ul class="tab-menu">
    <li><button id="menu-button"><%= icon('bars') %></button><li>
    <% if logged_in? %>
    <li><button id="profile-pic"><%= image_tag current_user.image_or_placeholder %></li>
    <% else %>
    <li><button id="profile-pic"><%= image_tag "missing.jpg" %><li>
    <% end %>
  </ul>
</div>

<div class="games-today-tab">
  <% if logged_in? %>
  GAMES TODAY:
  <ul class="games-today">
    <% if !current_user.games_today.empty? %>
    <% current_user.games_today.each do |game| %>
    <li class="game">
      <%= link_to [game.court.park, game] do %>
        <%= game.time.strftime("%-I:%M%p") %>
      <% end %>
    </li>
    <% end %>
    <% else %>
    <li class="game">None</li>
    <% end %>
  </ul>
  <% else %>
  <%= link_to login_path, class: "no-game" do %>
    Sign Up<span> or Log In</span>
  <% end %>
  <% end %>
</div>


