<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
  </ul>
</div>

<%= link_to root_path do %>
  <%= image_tag "scoreboard-text200.png", alt: "Logo Image", class: "title-image hide-for-small-only" %>
  <%= image_tag "got-next-text50.png", alt: "Logo Image", class: "title-image show-for-small-only" %>
<% end %>

<div class="blocker hide-for-small-only"></div>

<div class="tab">
  <ul class="tab-menu">
    <li><button id="menu-button"><%= icon('bars') %></button><li>
    <% if logged_in? %>
    <li><button id="profile-pic"><%= image_tag current_user.image %></li>
    <% else %>
    <li><button id="profile-pic"><%= image_tag "missing.jpg" %><li>
    <% end %>
  </ul>
</div>


