<div id="hidden-menu">
  <button><%= icon('times') %></button>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log Out", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Log In", login_path %></li>
    <% end %>
    <li><%= render 'shared/header/organization_select' %></li>
  </ul>
</div>

<header>
  <div class="content">
    <%= link_to root_path do %>
      <h1>Got Next</h1>
    <% end %>
    <ul class="menu-buttons">
      <% if logged_in? %>
      <li>
        <%= render 'shared/header/organization_select' %>
      </li>
      <li class="session-name">
        <%= current_user.name.split(' ')[0].upcase %>
      </li>
      <li>
        <button id="profile-image"><%= image_tag current_user.image_or_placeholder %>
      </li>
      <% else %>
      <li class="session-name" data-no-turbolink >
        <%= link_to "LOG IN", login_path %>
      </li>
      <li>
        <button id="profile-image"><%= image_tag "missing.jpg" %>
      </li>
      <% end %>
      <li>
        <button id="menu-button"><%= icon('bars') %></button>
      </li>
    </ul>
  </div>
</header>

<div class="blocker hide-for-small-only"></div>
