<!-- Add class "hide-for-large-up" to nav to hide on desktop -->

<nav class="tab-bar hide-for-large-up" id="mobile-top-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="right tab-bar-section">
    <%= link_to root_path do %>
      <h1 class="title">League</h1>
    <% end %>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li>
      <label>
        <div class="row profile">
          <% if logged_in? %>
          <%= link_to current_user do %>
            <div class="small-6 columns">
                <%= image_tag( "brianScalabrine.jpeg",
                                alt: "Profile Picture",
                                class: "profile-pic") %>
            </div>
            <div class="small-6 columns">
              <h5 class="profile-name"><%= current_user.name.split[0] %></h5>
            </div>
          <% end %>
          <% else %>
            <h5 class="profile-name">League</h5>
          <% end %>
        </div>
      </label>
    </li>
    <li><%= link_to "About",  about_path %></li>
    <li><%= link_to "Help",  help_path %></li>
    <li><%= link_to "Contact",  contact_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</aside>