<% provide(:title, "Game") %>

<main id="game-content" class="content">
  <% Time.zone = "Central Time (US & Canada)" %>
  <section class="game-info">
    <div class="away">
      <h4 class="team-name">AWAY</h4>
      <ul id="away-players">
      <% @away_players.each do |player| %>
        <%= render partial: "games/player", locals: { player: player, away: true } %>
      <% end %>
      </ul>
    </div>
    <div class="versus">
        Game Time:
        <span><%= @game.time.strftime("%-I:%M%p") %></span>
    </div>
    <div class="home">
      <h4 class="team-name">HOME</h4>
      <ul id="home-players">
      <% @home_players.each do |player| %>
        <%= render partial: "games/player", locals: { player: player, away: false } %>
      <% end %>
      </ul>
    </div>
  </section>
  <div class="address">
    <h4><span class="time"><%= @game.time.strftime("%-I:%M%p") %>, </span><%= @park.name %></h4>
    <h5><%= @park.address %></h5>
    <div id="join-leave">
    <% if @game.users.include?(current_user) %>
      <%= render 'shared/buttons/leave_game_button' %>
    <% else %>
      <%= render 'shared/buttons/join_game_button' %>
    <% end %>
    </div>
  </div>
  <section class="chat">
    <h6>Game Chat</h6>
    <p>Questions about the game? Talk to the people you're playing with</p>
    <div class="board-container">
      <ul id="chat-board">
        <% @messages.each do |message| %>
          <%= render partial: "games/message", locals: { message: message } %>
        <% end %>
      </ul>
    </div>
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.hidden_field :game_id, value: params[:id] %>
      <div class="chat-row">
        <div class="chat-text">
          <%= f.text_field :content, placeholder: "Discuss your game here" %>
        </div>
        <div class="chat-submit">
          <%= f.submit "Submit", class: "button postfix" %>
        </div>
      </div>
    <% end %>

    <%= subscribe_to "/messages/#{@game.id}" %>

  </section>
</div>
