<% provide(:title, "Game") %>

<main id="game-content" class="content">
  <section class="address">
    <h4><span><%= @game.time.strftime("%-I:%M%p") %>, </span><%= @park.name %></h4>
    <h5><%= @park.address %></h5>
    <div class="time">
      Game Time:
      <br>
      <span><%= @game.time.strftime("%-I:%M%p") %></span>
    </div>
    <div id="join-leave">
    <% if @game.users.include?(current_user) %>
      <%= render 'shared/buttons/leave_game_button' %>
    <% else %>
      <%= render 'shared/buttons/join_game_button' %>
    <% end %>
    </div>
  </section>
  <section class="game-info">
    <div class="players">
      <h4 class="players-heading"><span>PLAYERS</span></h4>
      <ul id="participants">
      <% @players.each do |player| %>
        <%= render partial: "games/player", locals: { player: player, away: true } %>
      <% end %>
      </ul>
    </div>
  </section>
  <section class="chat">
    <h6>Game Chat</h6>
    <p>Questions about the game? Talk to the people you're playing with</p>
    <div class="board-container">
      <ul id="chat-board">
        <% @messages.each do |message| %>
          <%= render partial: "games/message", locals: { message: message } %>
        <% end %>
      </ul>
    </div>
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.hidden_field :game_id, value: params[:id] %>
      <div class="chat-row">
        <div class="chat-text">
          <%= f.text_field :content, placeholder: "Discuss your game here" %>
        </div>
        <div class="chat-submit">
          <%= button_tag( :class => "button_green") do %>
            <%= icon('send') %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= subscribe_to "/messages/#{@game.id}" %>

  </section>
</div>
