<main id="game-content" class="content">
  <section class="game-info">
    <h3>AWAY</h3>
      <ul id="away-players">

      </ul>
    <h3>HOME</h3>
      <ul id="home-players">
      </ul>
  </section>
  <section class="chat">
    <div class="board-container">
      <ul id="chat-board">
        <% @messages.each do |message| %>
          <%= render partial: "games/message", locals: { message: message } %>
        <% end %>
      </ul>
    </div>
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.hidden_field :game_id, value: params[:id] %>
      <%= f.text_field :content, placeholder: "Discuss your game here" %>
    <% end %>

    <%= subscribe_to "/messages/new" %>

  </section>
</div>
