<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title><%= content_for?(:title) ? "#{yield(:title)} | Got Next." : "Got Next." %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'shared/header' %>

  <h1 style="padding-top: 10rem;"><%= "#{Time.now.in_time_zone}" %></h1>

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message,
                        class: "alert-box #{message_type}") %>
    <% end %>

    <%= yield %>

  </body>
</html>
